<div class="homepage d-flex justify-content-center align-items-center">
  <div class="text-center">
    <h1 class="display-1 pb-3">MCToolKit</h1>

    <div class="home-nav d-inline-flex flex-column align-items-baseline">
      <a uiSref="recipe-modification">
        <button type="button" class="btn btn-lg btn-primary">Modify Recipes</button>
      </a>
      <a uiSref="recipe-template-builder">
        <button type="button" class="btn btn-lg btn-secondary">Recipe Template Creator</button>
      </a>
    </div>
  </div>
</div>
